<div class="text-center">
<<<<<<< HEAD
  <h2>{{name}}'s Reviews</h2>
  <p2>{{#each user.reviews as |review|}}
    {{> review-details}}
    {{/each}}</p>
=======
  <h2 id="userReview"> {{name}}'s Reviews</h2>
  <h2>{{comment}}</h2>
>>>>>>> eea5be29888fa6d376ee73bffab9047b9718a1cd
  {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
  <p>
    
  <p>
    <button class="btn btn-primary">Leave a new review!</button>
  </p>
</div>