<div class="text-center">

 

  <h2 id="userReview review-name" > {{name}}'s Reviews</h2>

   {{#each  user_reviews as |review|}}

  <p id="review-comment">{{review.review.name}}: {{review.name}}</p>
  <p id="review-comment">{{review.review.comment}}</p>
  <p id="review-comment">{{review.review.date_created}}</p>
    {{/each}} 
  {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
 
</div>

        </div>
          <p>
            <button class="btn btn-primary">Leave a new review!</button>
          </p>
        </div>

